<div class="col-md-8">
<%= form_for :snippet, url: snippets_path,
                    html: { class: "form-horizontal", role: "form" } do |f| %>
  <% if @snippet.errors.any? %>
  <div id="error_explanation">
  <h2><%= pluralize(@snippet.errors.count, "error") %> prohibited
    this note from being saved:</h2>
  <ul>
    <% @snippet.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
  <% end %>
  </ul>
</div>
  <% end %>

<div class="form-group">
<p>
<%= f.text_field :title, class: "form-control",
                         placeholder: "Titulo" %>
</p>

<p>
<%= f.select :lang, lexer_list, {}, { class: "form-control" } %>
</p>

<p>
<%= f.text_area :code, size: "60x12",
                       class: "form-control",
                       placeholder: "Codigo" %>
</p>

<p>
<%= f.submit "Guardar", class: "btn btn-primary" %>
</p>
</div>
<% end %>
<div>
